.rating-chart-container {
    position: relative;
    height: 16rem;
    width: 100%;
    border-radius: 0.5rem;
    background-color: var(--surface-DEFAULT);
    padding: 1rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
} 